<div class="container-fixed">
    <nav class="navbar navbar-dark header">
        <div class="container-fluid">
            <h5 class="navbar-brand">Lista pracowników</h5>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <app-staff-member
        *ngFor="let staff_member of staff_list"
        [staff_member]="staff_member"
        ></app-staff-member>
    </div>
    <div class="row mt-1 mb-1">
        <div class="d-flex">
            <button class="btn btn-danger btn-edit ms-auto" (click)="onEdit()">+</button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>