<div class="card mt-1">
    <div class="card-body">
        <div class="row mb-3" style="color: green; font-weight: bold;">
            staff_member.id: {{ staff_member.id }}
        </div>
        <div class="row mb-1">
            <div class="col-4 fw-bold">
                {{ staff_member.name }} {{ staff_member.surname }}
            </div>
            <div class="col-3 offset-2 fw-bold">
                {{ finished_to_all_tasks_ratio }}
            </div>
            <button class="btn btn-success col-3" (click)="onTasks()">Zadania</button>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                Stanowisko: {{ staff_member.position }}
            </div>
        </div>
        <div class="row mb-1">    
            <button class="btn btn-primary col-3 offset-6" (click)="onEdit()">Edytuj</button>
            <button class="btn btn-danger col-3" (click)="onRemove()">Usuń</button>
        </div>
    </div>
</div>