<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row mb-1">
                <div class="col-9">Treść zadania:</div>
                <button class="btn btn-primary col-3">Edytuj</button>
            </div>
            <div class="row mb-1">
                <div class="col-9">Tworzenie makiet</div>
                <button class="btn btn-secondary col-3">Przenieś</button>
            </div>
            <div class="row mb-1">
                <div class="col-4">Status:</div>
                <div class="col-5">dropdown</div>
                <button class="btn btn-danger col-3">Usuń</button>
            </div>
            <div class="row mb-1">
                <div class="col-4">Zaawansowanie:</div>
                <div class="col-3">
                    <input type="range" class="form-range" step="25" min="0" max="100">
                </div>
                <div class="col-2">[50]</div>
                <button class="btn btn-success col-3">Zapisz</button>
            </div>
        </div>
    </div>
</div>