<form [formGroup]="taskStatusForm" (ngSubmit)="onSubmit()">
    <div class="card mt-1">
        <div class="card-body">
            <div class="row mb-1">
                <div class="col-9">
                    Treść zadania:
                </div>
                <button type="button" class="btn btn-primary col-3" (click)="onEdit()">Edytuj</button>
            </div>
            <div class="row mb-1">
                <div class="col-9">
                    {{ task.description }}
                </div>
                <button type="button" class="btn btn-secondary col-3" (click)="onMove()">Przenieś</button>
            </div>
            <div class="row mb-1">
                <label class="col-3">Status:</label>
                <div class="col-6">
                    <select class="form-select" formControlName="status">
                        <option [value]="TASK_NOT_STARTED_STATUS" [selected]="task.status === TASK_NOT_STARTED_STATUS">{{ TASK_NOT_STARTED_STATUS }}</option>
                        <option [value]="TASK_STARTED_STATUS" [selected]="task.status === TASK_STARTED_STATUS">{{ TASK_STARTED_STATUS }}</option>
                        <option [value]="TASK_FINISHED_STATUS" [selected]="task.status === TASK_FINISHED_STATUS">{{ TASK_FINISHED_STATUS }}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-danger col-3" (click)="onRemove()">Usuń</button>
            </div>
            <div class="row mb-1">
                <div class="col-3">
                    Zaawansowanie:
                </div>
                <div class="col-4">
                    <input type="range" class="form-range" min="0" max="100" step="25"
                        [value]="taskStatusForm.value['status_of_completion']"
                        formControlName="status_of_completion">
                </div>
                <div class="col-2 text-end">[{{ taskStatusForm.value['status_of_completion'] }}]</div>
                <button type="submit" class="btn btn-success col-3" [disabled]="!taskStatusForm.valid">Zapisz</button>
            </div>
        </div>
    </div>
</form>