<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row mb-1">
                <div class="col-4">
                    Jan Kowalski
                </div>
                <div class="col-3 offset-2">
                    [1/3]
                </div>
                <button class="btn btn-success col-3">Zadania</button>
            </div>
            <div class="row mb-1">
                <div class="col-12">
                    Stanowisko: Programista
                </div>
            </div>
            <div class="row mb-1">
                <button class="btn btn-primary col-3 offset-6">Edytuj</button>
                <button class="btn btn-danger col-3">Usuń</button>
            </div>
        </div>
    </div>
</div>