<div class="container-fluid">
    <div class="row">
        <div class="card header">
            <div class="card-body">
              <h5 class="card-title">{{ picked_staff_member.name }} {{ picked_staff_member.surname }} - zadania</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <app-task
        *ngFor="let task of picked_staff_member_tasks"
        [task]="task"
        [task_index]="getGlobalTaskIndex(task)">
        </app-task>
    </div>
    <div class="row mb-1 mt-1">
        <div class="d-flex">
            <button class="btn btn-danger ms-auto">+ !!!</button>
        </div>
    </div>
</div>