<div class="container-fixed">
    <nav class="navbar navbar-dark header">
        <div class="container-fluid">
            <h5 class="navbar-brand">{{ picked_staff_member.name }} {{ picked_staff_member.surname }} - zadania</h5>
            <button class="btn btn btn-outline-light ms-auto" (click)="onBack()">Lista pracowników</button>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <app-task
        *ngFor="let task of picked_staff_member_tasks"
        [task]="task">
        </app-task>
    </div>
    <div class="row mt-1 mb-1">
        <div class="d-flex">
            <button class="btn btn-danger btn-edit ms-auto" (click)="onEdit()">+</button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>