<div class="container-fixed mb-3">
    <nav class="navbar navbar-dark header">
        <div class="container-fluid">
            <h5 class="navbar-brand overflow-x-auto">Lista pracowników</h5>
            <button class="btn btn btn-outline-light bi bi-arrow-clockwise ms-auto" *ngIf="CONTENT_LOADED" (click)="onReload()"></button>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <app-loading *ngIf="!CONTENT_LOADED"></app-loading>
    <div class="row">
        <app-staff-member
        *ngFor="let staff_member of staff_list"
        [staff_member]="staff_member"
        ></app-staff-member>
    </div>
    <div class="row mt-1 mb-1" *ngIf="CONTENT_LOADED">
        <div class="d-flex">
            <button
                class="btn btn-danger rounded-circle ms-auto btn-add bi bi-plus-lg"
                (click)="onEdit()">
            </button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>