<div class="container-fixed mb-3">
    <nav class="navbar navbar-dark header">
        <div class="container-fluid">
            <h5 class="navbar-brand overflow-x-auto">{{ picked_staff_member.name }} {{ picked_staff_member.surname }} - tasks</h5>
            <div class="ms-auto">
                <button class="btn btn-outline-light bi bi-arrow-left me-1" (click)="onBack()"></button>
                <button class="btn btn-outline-light bi bi-arrow-clockwise" (click)="onReload()"></button>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <app-task
        *ngFor="let task of picked_staff_member_tasks"
        [task]="task">
        </app-task>
    </div>
    <div class="row mt-1 mb-1">
        <div class="d-flex">
            <button
                class="btn btn-danger rounded-circle ms-auto btn-add bi bi-plus-lg"
                (click)="onEdit()">
            </button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>