<form [formGroup]="taskStatusForm" (ngSubmit)="onSubmit()">
    <div class="card mt-1">
        <div class="card-body">
            <div class="row mb-1">
                <div class="col-9">
                    Description:
                </div>
                <button type="button" class="btn btn-primary col-3" (click)="onEdit()" [disabled]="form_changed">Edit</button>
            </div>
            <div class="row mb-1">
                <div class="col-9 fst-italic">
                    {{ task.description }}
                </div>
                <button type="button" class="btn btn-secondary col-3" (click)="onMove()" [disabled]="form_changed">Move</button>
            </div>
            <div class="row mb-1">
                <div class="col-3">
                    Status:
                </div>
                <div class="col-6">
                    <select class="form-select" formControlName="status" name="status"
                            (ngModelChange)="onSelectChange()">
                        <option [value]="TASK_NOT_STARTED_STATUS" [selected]="taskStatusForm.value['status'] === TASK_NOT_STARTED_STATUS">{{ TASK_NOT_STARTED_STATUS }}</option>
                        <option [value]="TASK_IN_PROGRESS_STATUS" [selected]="taskStatusForm.value['status'] === TASK_IN_PROGRESS_STATUS">{{ TASK_IN_PROGRESS_STATUS }}</option>
                        <option [value]="TASK_FINISHED_STATUS" [selected]="taskStatusForm.value['status'] === TASK_FINISHED_STATUS">{{ TASK_FINISHED_STATUS }}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-danger col-3" (click)="onRemove()">Remove</button>
            </div>
            <div class="row mb-1">
                <div class="col-3">
                    Advancement:
                </div>
                <div class="col-4">
                    <input type="range" class="col-12" min="0" max="100" step="5"
                        (ngModelChange)="onRangeChange()"
                        [value]="taskStatusForm.value['status_of_completion']"
                        formControlName="status_of_completion"
                        name="status_of_completion">
                </div>
                <div class="col-2 text-end">[{{ taskStatusForm.value['status_of_completion'] }}]</div>
                <button type="submit" class="btn btn-success col-3" [disabled]="!form_changed">Save</button>
            </div>
            <div
                *ngIf="form_changed"
                class="p-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle card mt-3">
                <div class="d-flex align-items-center" style="height: 32px;">
                    <div>Save to enable edit and move.</div>
                    <button class="btn btn-outline-dark bi bi-x-lg ms-auto" type="button" (click)="onCancel()"></button>
                </div>
            </div>
        </div>
    </div>
</form>